.form-select {
   display: flex;
   flex-direction: column;
   background: var(--bg-color);
   min-height: 46px;
   border-radius: 6px;
   padding: 6px 12px;
   gap: 2px;
}

.form-select label {
   color: var(--turquoise);
   font-size: 0.8em;
}

.form-select select {
   background: transparent;
   color: #fff;
   outline: none;
   border: 0;
}

.form-select select option {
   background: var(--bg-color);
}