.form-input {
   display: flex;
   align-items: center;
   background: var(--bg-color);
   border-radius: 6px;
   padding: 0 12px;
   gap: 8px;
}

.form-input label {
   color: var(--turquoise);
}

.form-input input {
   background: transparent;
   color: white;
   border: none;
   min-height: 46px;
   padding: 0;
   flex: auto;
   outline: none;
}