* {
	box-sizing: border-box !important;
}

:root {
   --main-bg-color: #04171C;
   --bg-color: #022e37;
   --turquoise: #95E3FACC;
   --white: #ffffff;
}

html, body {
   margin: 0;
   height: 100%;
}

#root {
   height: 100%;
}

body {
   margin: 0;
   font-size: 16px;
   font-family: "IBM Plex Sans", sans-serif;
   background: var(--main-bg-color);
   color: var(--white);
}